<template>
	<main>
		<h1>Droplab Vue Component</h1>
		<section>
			<h2>Simple Button</h2>
			
			<dropdown id="simple-button">
				<button slot="trigger">Open</button>
				<li @click="log">Home</li>
				<li @click="log">About</li>
				<li @click="log">Contact</li>
			</dropdown>
		</section>

		<section>
			<h2>Mixed Button</h2>
			
			<dropdown id="mixed-button" :list="list">
				<button slot="trigger">Open</button>
				<ul>
					<li @click="log">Home</li>
					<li @click="log">About</li>
				</ul>
				<ul data-dynamic>
					<li v-html="`<a href='#' data-id='{{id}}'>{{text}}</a>`" @click="log"></li>
				</ul>
			</dropdown>
		</section>

		<section>
			<h2>Simple Input</h2>

			<dropdown id="simple-input" :list="list">
				<input type="text" slot="trigger">
				<li v-html="`<a href='#' data-id='{{id}}'>{{text}}</a>`" @click="log"></li>
			</dropdown>
		</section>
		
		<section>
			<h2>Mixed Input</h2>

			<dropdown id="mixed-input" :list="list">
				<input type="text" slot="trigger">
				<ul>
					<li @click="log">Home</li>
					<li @click="log">About</li>
				</ul>
				<ul data-dynamic>
					<li v-html="`<a href='#' data-id='{{id}}'>{{text}}</a>`" @click="log"></li>
				</ul>
			</dropdown>
		</section>
	</main>
</template>
<script>
	import dropdown from '../src/Droplab.vue';
	export default{
		data:()=>({
			list:	[{
						id: 24601,
						text: 'Jacob'
					},
					{
						id: 24602,
						text: 'Jeff'
					},
					{
						id: 24603,
						text: 'Josef'
					}]
		}),
		methods: {
			log: ()=>{
				console.log('beep beep');
			}
		},
		components:{
			dropdown
		}
	}
</script>
<style>
	body{
		font-family: 'Verdana',sans-serif;
		margin: 0;
	}
	main{
		margin: 20px;
		background-color: #eee;
		margin-bottom: 200px;
		text-align: center;
	}
	section{
		padding: 20px;
	}
	section:not(:last-child){
		border-bottom: 2px dashed #ccc;
	}
	h1,h2{
		font-weight: normal;
		margin: 0 0 10px;
	}
	h2{
		color: #555;
	}
</style>