<template>
	<div class="dropdown">
		<slot name="trigger"></slot>
		<ul v-if="containsList" :id="id" data-dropdown :data-dynamic="list && list.length">
			<slot></slot>
		</ul>
		<div v-if="!containsList" :id="id" data-dropdown>
			<slot></slot>
		</div>
	</div>
</template>
<script>
	import droplab from './droplab';

	export default {
		props: {
			id: {
				type: String,
				required: true
			},
			list: Array
		},
		mounted: function(){
			console.log(this);

			
			if(this.$slots.trigger){ // setting up the attributes for the trigger
				let trigger = this.$slots.trigger[0].elm;
				trigger.setAttribute('data-dropdown-trigger','#'+this.id);
				trigger.setAttribute('data-id',this.id);
			}

			window.setTimeout( function(self){ return function(){ // delay the execution of droplab so the trigger is detected correctly
				let droplab = DropLab();
				if(self.list && self.list.length) droplab.addData(self.id, self.list);
				droplab.load();
			}}(this),0)
		},
		computed: {
			containsList: function(){
				return this.$slots.default.some((el)=>el.tag ==="li" );
			}
		}
	}
</script>
<style scoped>
	.dropdown{
		position: relative;
		display: inline-block;
	}
	ul{
		padding: 10px;
		margin: 0;
		list-style: none;
	}
	[data-dropdown]{
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		margin: 2px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 4px;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
		display: none;
	}
	[data-dropdown] li{
	  margin: 0 0.3em;
	  padding: 0.3em;
	  cursor: pointer;
	  transition-duration: 0.3s;
	}

	[data-dropdown] li:hover{
	  background: #ddd;
	}

	[data-dropdown] li a{
	  position: relative;
	  text-decoration: none;
	  color: #000;
	  display: block;
	}
</style>